body {
	margin: 0;
	font-size: 13px;
	line-height: 17px;
	min-width: 1000px;
}

body, td, a, p { font-family: arial,sans-serif; }

#templates { display: none; }

/*************************************/

a:visited { color: blue; }
a.graylink { color: gray; }

a.user {
	background: scroll transparent url("../gfx/mail.png") 100% 50% no-repeat;
	padding-right: 23px;
}

/*************************************/

span.info { display: block; display: inline-block;
	border: 1px solid #ccc; font-style: italic; letter-spacing: 1px;
	font-size: 14px; line-height: 20px; color: #555; text-align: justify;
	margin: 5px; padding: 10px 10px 10px 65px;
	background: scroll #eee url("../gfx/icon-info.png") 10px 50% no-repeat; }

span.errmsg { color: #f00; }

/* form box */
.formbox { width: 50%; min-width: 400px; margin: 10% auto 0 auto; }
.formbox fieldset { padding: 15px; margin: 15px; border: 1px solid #ccc; text-align: center; }
.formbox fieldset legend { font-size: 18px; padding: 0 15px; font-weight: bold; color: #999; }
.formbox table { width: 100%; padding: 10px; border-spacing: 0 10px; }
.formbox table td:first-child { width: 30%; text-align: right; padding-right: 15px; font-weight: bold; }
.formbox input { border: 1px solid #ccc; margin: 3px; }
.formbox input:focus { border-color: #fb8; }

.logobox a { text-decoration: none; }
.logobox a:hover { text-decoration: none; }

/*************************************/

/* userbar */
#userbar { border-bottom: 1px solid #0044d8; width: 100%; height: 25px; }
#userbar ul { margin: 0; padding: 1px 10px 1px 10px; height: 25px; line-height: 25px; list-style: none; }
#userbar ul li { display: inline; padding: 0 5px 0 5px; }

#ub_nav { float: left; }
#ub_account { float: right; text-align: right; }

.ub_selected a, .ub_selected { font-weight: bold; text-decoration: none; color: black; }
#userbar ul li.uba_I { border-left: 1px solid black; padding: 0 5px 0 0; }

/* index links */
#index_links { width: 100%; margin-top: 10%; text-align: center; }
#index_links * { margin: 0; padding: 0; font-size: small; }
#index_links ul { list-style: none; margin: 15px 0; }
#index_links ul li { display: inline; margin-left: 10px; }

/* search elements */
#searchterm { height: 40px; width: 75%; font-size: 20px; }
#searchbutton {
	color: #ffffff; background-color: #000000;
	cursor: pointer; display: inline-block; line-height: 38px; width: 20%; margin-left: 10px;
	font-size: 18px; font-weight: bold; text-align: center; }

/********** index.php: big search utils */
#searchutils_big { margin-top: 10%; width: 100%; height: 250px; min-width: 950px; }
#searchutils_big * { margin: 0; padding: 0; }

#searchutils_big table { width: 100%; height: 250px; border-spacing: 0; font-size: small;
	background: scroll transparent url("../gfx/shadow.png") 0 225px repeat-x; }
#sub_left { width: 40%; }
#sub_middle { width: 152px; background: scroll transparent url("../gfx/b4.png") 0 25px no-repeat; }

#subl_top { height: 25px; }
#subl_middle { height: 200px; background: scroll #0048d8 url("../gfx/b5.png") 0 0 repeat-x;
	position: relative; text-align: center; }
	#subl_middle img { position: relative; top: 50px; }
	#sublm_name { position: relative; top: 60px; font-size: 16px; color: #ccc; }
#subl_bottom { height: 25px; float: right; }
	#subl_bottom ul { list-style: none; }
	#subl_bottom ul li { display: inline; float: right; }
	#subl_bottom a { display: block; width: 90px; color: white; line-height: 25px;
		text-align: center; font-weight: bold; text-decoration: none; font-size: 12px;
		background: scroll transparent url("../gfx/b1.png") 0 0 no-repeat; padding-left: 17px; }
	#subl_bottom li.first a { background: scroll transparent url("../gfx/b2.png") 0 0 no-repeat;
		width: 119px; padding-left: 5px; }
	#subl_bottom li.last a { background: scroll transparent url("../gfx/b3.png") 0 0 no-repeat; }
	#subl_bottom a:hover { text-decoration: underline; }

#subr_top { height: 25px; position: relative; left: -30px; }
	#subr_top ul { list-style: none; }
	#subr_top ul li { display: inline; float: left; }
	#subr_top a { display: block; width: 90px; color: white; line-height: 25px;
		text-align: center; font-weight: bold; text-decoration: none; font-size: 12px;
		background: scroll transparent url("../gfx/b1.png") 0 0 no-repeat; padding-left: 17px; }
	#subr_top li.last a { background: scroll transparent url("../gfx/b2.png") 0 0 no-repeat;
		width: 119px; padding-left: 5px; }
	#subr_top li.first a { background: scroll transparent url("../gfx/b3.png") 0 0 no-repeat; }
	#subr_top a:hover { text-decoration: underline; }
#subr_middle { height: 200px; background: scroll #00246c url("../gfx/b6.png") 0 0 repeat-x; position: relative; }
	#subrm_box { position: absolute; top: 80px; height: 40px; width: 90%; }
#subr_bottom { height: 25px; }

/********** search.php: small search utils, etc */
#searchutils_small { margin-top: 15px; width: 100%; height: 115px; min-width: 950px; }
#searchutils_small * { margin: 0; padding: 0; }

#searchutils_small table { width: 100%; height: 120px; border-spacing: 0; position: relative; top: -15px;
	background: scroll transparent url("../gfx/shadow.png") 0 105px repeat-x; }

#sus_left { width: 40%; }
	#susl_middle { height: 100px; background: scroll #0048d8 url("../gfx/b7.png") 0 0 repeat-x;
		position: relative; text-align: center; }
		#susl_middle img { position: relative; top: 25px; }
		#suslm_name { position: relative; top: 30px; font-size: 16px; color: #ccc; }

#sus_middle { width: 85px; }
	#susm_middle { height: 100px; background: scroll #0048d8 url("../gfx/b9.png") 0 0 no-repeat; }

#susr_middle { height: 100px; background: scroll #00246c url("../gfx/b8.png") 0 0 repeat-x; }
	#susrm_box { position: relative; top: 30px; height: 40px; width: 90%; }
	#susrm_count { position: relative; top: 38px; color: #aaa; font-size: 12px; }

#sw-results { position: absolute; left: 0; top: 145px; bottom: 0; width: 25%; padding: 10px 1%; }
#sw-bookview { padding: 10px 1% 10px 29%; }
