.bv hr { border: none; border-top: 1px dashed #ccc; margin: 10px 0; }

div.bv_header { min-height: 150px; padding-top: 0px; }
	img.bv_icon { float: left; border: none; margin: 0 20px 20px 0; }
	table.bv_ratings td { width: 130px; }
	table.bv_ratings { color: #888; font-size: small; }
	div.bv_header h1 { line-height: 1.3em; }
	div.bv_header h3 a { color: #555; }
	div.bv_header a.bv_gg { display: block; margin: 10px 0 0 15px; }

div.bv_owners h3, div.bv_comments h3, div.bv_write h3 { color: #EB8F00; }
div.bv_owners li { list-style: none; padding: 2px 0; }

div.bv_comment { border: 1px solid #aaa; margin: 20px 0; max-width: 700px; }
div.bvc_header { background: scroll #aaa url("../gfx/comment.png") 5px 50% no-repeat; padding: 3px 5px 3px 45px; }
span.bvc_user a { color: #fff; font-weight: bold; }
span.bvc_date { display: block; color: #eee; font-size: smaller; }
div.bvc_content { padding: 15px; font-family: serif; white-space: pre-wrap; background-color: #eee; }

#bv_write_comment { width: 100%; max-width: 700px; height: 150px; }
#bv_write_comment_button { display: block; }

div.bvo_ops { padding-left: 22px; line-height: 16px; font-size: small; color: #666; cursor: pointer; }
div.bvo_ops:hover { text-decoration: underline; }
#bvo_del { background: scroll transparent url("../gfx/icon-minus.png") 0 50% no-repeat; }
#bvo_add { background: scroll transparent url("../gfx/icon-plus.png") 0 50% no-repeat; }
